subscription_id = "00000000-0000-0000-0000-000000000000"
image_id        = "/subscriptions/REPLACE/resourceGroups/images/providers/Microsoft.Compute/images/firewall-poc-v1"
ssh_public_key  = "ssh-ed25519 REPLACE_WITH_YOUR_PUBLIC_KEY"
